{{ define "main" }}

<section class="global-page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h2>{{ .Title }}</h2>
                    <div class="portfolio-meta">
                        <span>{{ dateFormat "2006-01-02" .Date }}</span>|
                        <span class="ion-pricetags"></span>
                        <span>
                            {{ if ne .Params.tags nil }}{{ delimit .Params.tags ", " }}{{ end }}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<style type="text/css">
    @media (min-width: 1200px) {
    .container{
        max-width: 800px;
    }
  }
  img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
}
</style>

<section class="single-post">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {{ with .Params.image }}
                <div class="post-img">
                    <img class="img-fluid" alt="" src="{{ . | absURL }}">
                </div>
                {{ end }}
                <div class="post-content">
                    {{ .Content }}
                </div>
            </div>
        </div>
    </div>
</section>

{{ partial "cta.html" . }}

{{ end }}